.icn-usr{
    background-image: url(../img/iconos/user.png) !important;
    background-repeat: no-repeat;
}
.icn-addusr{
    background-image: url(../img/iconos/user_add.png) !important;
    background-repeat: no-repeat;
}
.icn-editausr{
    background-image: url(../img/iconos/vcard_edit.png) !important;
    background-repeat: no-repeat;
}
.icn-deleteusr{
    background-image: url(../img/iconos/user_delete.png) !important;
    background-repeat: no-repeat;
}
.icn-editusr{
    background-image: url(../img/iconos/user_edit.png) !important;
    background-repeat: no-repeat;
}
.icn-usrgray{
    background-image: url(../img/iconos/user_gray.png) !important;
    background-repeat: no-repeat;
}
.icn-usrsuit{
    background-image: url(../img/iconos/user_suit.png) !important;
    background-repeat: no-repeat;
}
.icn-addconsulta{
    background-image: url(../img/iconos/table_add.png) !important;
    background-repeat: no-repeat;
}
.icn-addcompra{
    background-image: url(../img/iconos/tag_blue_add.png) !important;
    background-repeat: no-repeat;
}
.icn-prevFrm{
    background-image: url(../img/iconos/form_prev.png) !important;
    background-repeat: no-repeat;
}
.icn-nextFrm{
    background-image: url(../img/iconos/form_next.png) !important;
    background-repeat: no-repeat;
}
.icn-back{
    background-image: url(../img/iconos/arrow_left.png) !important;
    background-repeat: no-repeat;
}
.icn-cerrarSession{
    background-image: url(../img/iconos/disconnect.png) !important;
    background-repeat: no-repeat;
}
.icn-logoDorado{
    background-image: url(../img/logo_dorado.png) !important;
    background-repeat: no-repeat;
}
.icn-logoPlata{
    background-image: url(../img/logo_plata.png) !important;
    background-repeat: no-repeat;
}
.icn-refresh{
    background-image: url(../img/iconos/arrow_refresh.png) !important;
    background-repeat: no-repeat;
}
.icn-busquedaUno{
    background-image: url(../img/iconos/zoom.png) !important;
    background-repeat: no-repeat;
}
.icn-busquedaDos{
    background-image: url(../img/iconos/find.png) !important;
    background-repeat: no-repeat;
}
.icn-limpiarBusqueda{
    background-image: url(../img/iconos/page_white_find.png) !important;
    background-repeat: no-repeat;
}
.icn-switch{
    background-image: url(../img/iconos/arrow_switch.png) !important;
    background-repeat: no-repeat;
}
.icn-guardar{
    background-image: url(../img/iconos/disk.png) !important;
    background-repeat: no-repeat;
}
.icn-estrellaOro{
    background-image: url(../img/iconos/award_star_gold_2.png) !important;
    background-repeat: no-repeat;
}
.icn-medallaOro{
    background-image: url(../img/iconos/medal_gold_2.png) !important;
    background-repeat: no-repeat;
}
.icn-telefono{
    background-image: url(../img/iconos/telephone.png) !important;
    background-repeat: no-repeat;
}
.icn-terminarLLamada{
    background-image: url(../img/iconos/telephone_delete.png) !important;
    background-repeat: no-repeat;
}
.icn-iniciarLLamada{
    background-image: url(../img/iconos/telephone_add.png) !important;
    background-repeat: no-repeat;
}
.icn-canalizarLLamada{
    background-image: url(../img/iconos/telephone_go.png) !important;
    background-repeat: no-repeat;
}
.icn-ingresar{
    background-image: url(../img/iconos/door_in.png) !important;
    background-repeat: no-repeat;
}
.icn-terminarLLamada{
    background-image: url(../img/iconos/telephone_delete.png) !important;
    background-repeat: no-repeat;
}
.icn-iniciarLLamada{
    background-image: url(../img/iconos/telephone_add.png) !important;
    background-repeat: no-repeat;
}
.icn-canalizarLLamada{
    background-image: url(../img/iconos/telephone_go.png) !important;
    background-repeat: no-repeat;
}
.icn-ingresar{
    background-image: url(../img/iconos/door_in.png) !important;
    background-repeat: no-repeat;
}
.icn-regresar{
    background-image: url(../img/iconos/door_out.png) !important;
    background-repeat: no-repeat;
}
.icn-inicio{
    background-image: url(../img/iconos/house.png) !important;
    background-repeat: no-repeat;
}
.icn-avisoLlamada{
    background-image: url(../img/iconos/bell_add.png) !important;
    background-repeat: no-repeat;
}
.icn-verPreguntas{
    background-image: url(../img/iconos/page_go.png) !important;
    background-repeat: no-repeat;
}
.icn-contestarPregunta{
    background-image: url(../img/iconos/page_add.png) !important;
    background-repeat: no-repeat;
}
.icn-editarPregunta{
    background-image: url(../img/iconos/page_edit.png) !important;
    background-repeat: no-repeat;
}
.icn-buscarPregunta{
    background-image: url(../img/iconos/page_find.png) !important;
    background-repeat: no-repeat;
}
.icn-verMetas{
    background-image: url(../img/iconos/folder_user.png) !important;
    background-repeat: no-repeat;
}
.icn-reportesprn{
    background-image: url(../img/iconos/chart_pie.png) !important;
    background-repeat: no-repeat;
}
.icn-excel{
    background-image: url(../img/iconos/page_excel.png) !important;
    background-repeat: no-repeat;
}
.icn-pdf{
    background-image: url(../img/iconos/page_white_acrobat.png) !important;
    background-repeat: no-repeat;
}
.icn-Bayer{
    background-image: url(../img/iconos/page_edit.png) !important;
    background-repeat: no-repeat;
}
.icncomentario{
    background-image: url(../img/iconos/comment.png) !important;
    background-repeat: no-repeat;
}
.icn-addcomentario{
    background-image: url(../img/iconos/comment_add.png) !important;
    background-repeat: no-repeat;
}
.icn-comentarios{
    background-image: url(../img/iconos/comments.png) !important;
    background-repeat: no-repeat;
}
.icn-addcomentarios{
    background-image: url(../img/iconos/comments_add.png) !important;
    background-repeat: no-repeat;
}
.icn-medicamento{
    background-image: url(../img/iconos/pill.png) !important;
    background-repeat: no-repeat;
}
.icn-seg-pac{
    background-image: url(../img/iconos/group_go.png) !important;
    background-repeat: no-repeat;
}
.icn-group{
    background-image: url(../img/iconos/group.png) !important;
    background-repeat: no-repeat;
}
.icn-mapa{
    background-image: url(../img/iconos/map.png) !important;
    background-repeat: no-repeat;
}
.icn-mundo{
    background-image: url(../img/iconos/world.png) !important;
    background-repeat: no-repeat;
}
.icn-hommuj{
    background-image: url(../img/iconos/male_female.png) !important;
    background-repeat: no-repeat;
}
.icn-fecha{
    background-image: url(../img/iconos/date.png) !important;
    background-repeat: no-repeat;
}
.icn-loadingBlue{
    background-image: url(../img/blue-loading.gif) !important;
    background-repeat: no-repeat;
}
.icn-loadingBlack{
    background-image: url(../img/large-loading.gif) !important;
    background-repeat: no-repeat;
}
.icn-loadingBlack{
    background-image: url(../img/large-loading.gif) !important;
    background-repeat: no-repeat;
}
.icn-up{
    background-image: url(../img/up.png) !important;
    background-repeat: no-repeat;
    background-position: top;
}
.icn-calendar-mes{
    background-image: url(../img/iconos/calendar_view_month.png) !important;
    background-repeat: no-repeat;
    background-position: top;
}
.icn-inicio-sesion{
    background-image: url(../img/iconos/key_go.png) !important;
    background-repeat: no-repeat;
    background-position: top;
}
.icn-cross{
    background-image: url(../img/iconos/cross.png) !important;
    background-repeat: no-repeat;
}
.icn-portafolio{
    background-image: url(../img/iconos/briefcase.png) !important;
    background-repeat: no-repeat;
}
.icn-date-go{
    background-image: url(../img/iconos/date_go.png) !important;
    background-repeat: no-repeat;
}
.icn-date-next{
    background-image: url(../img/iconos/date_next.png) !important;
    background-repeat: no-repeat;
}
.icn-date-previous{
    background-image: url(../img/iconos/date_previous.png) !important;
    background-repeat: no-repeat;
}
.icn-date-watch{
    background-image: url(../img/iconos/date_magnify.png) !important;
    background-repeat: no-repeat;
}
.icn-date-add{
    background-image: url(../img/iconos/date_add.png) !important;
    background-repeat: no-repeat;
}
.icn-date-delete{
    background-image: url(../img/iconos/date_delete.png) !important;
    background-repeat: no-repeat;
}
.icn-date-edit{
    background-image: url(../img/iconos/date_edit.png) !important;
    background-repeat: no-repeat;
}
.icn-camion{
    background-image: url(../img/iconos/lorry.png) !important;
    background-repeat: no-repeat;
}
.icn-exclamacion{
    background-image: url(../img/iconos/exclamation.png) !important;
    background-repeat: no-repeat;
}
.icn-agregar{
    background-image: url(../img/iconos/add.png) !important;
    background-repeat: no-repeat;
}
.icn-deshabilita{
    background-image: url(../img/iconos/delete.png) !important;
    background-repeat: no-repeat;
}
.icn-habilita{
    background-image: url(../img/iconos/accept.png) !important;
    background-repeat: no-repeat;
}
.icn-cancela{
    background-image: url(../img/iconos/cancel.png) !important;
    background-repeat: no-repeat;
}
.icn-calendario{
    background-image: url(../img/iconos/calendar.png) !important;
    background-repeat: no-repeat;
}
.icn-agenda{
    background-image: url(../img/iconos/book_addresses.png) !important;
    background-repeat: no-repeat;
}
.icn-administrador{
    background-image: url(../img/iconos/chart_organisation.png) !important;
    background-repeat: no-repeat;
}
.icn-ayuda{
    background-image: url(../img/iconos/help.png) !important;
    background-repeat: no-repeat;
}
.icn-imprimir{
    background-image: url(../img/iconos/printer.png) !important;
    background-repeat: no-repeat;
}
.icn-cardUsuario{
    background-image: url(../img/iconos/vcard.png) !important;
    background-repeat: no-repeat;
}
.icn-contenedor{
    background-image: url(../img/iconos/layout_content.png) !important;
    background-repeat: no-repeat;
}
.icn-detalles{
    background-image: url(../img/iconos/details.gif) !important;
    background-repeat: no-repeat;
}
.icn-warning{
    background-image: url(../img/iconos/warning.gif) !important;
    background-repeat: no-repeat;
}

.icn-medicos{
    background-image: url(../img/iconos/medico.png) !important;    
    background-repeat: no-repeat;
}
.icn-movimiento{
    background-image: url(../img/iconos/movimiento.gif) !important;
    background-repeat: no-repeat;
}